@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer{
    display: flex;
    flex-wrap: wrap;
  }

  .shimmer-card{
    width: 200px;
    height: 250px;
    margin: 10px 20px;
    background-color: #f0f0f0;
    color: #ccc;
  }